/* File: css/styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  h2, h3 {
    color: #f0f0f0;
  }
  
  form {
    margin: 20px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1f1f1f;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    z-index: 1000;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  .notification.success {
    background-color: #4caf50; /* Hijau untuk notifikasi sukses */
  }
  
  .notification.error {
    background-color: #f44336; /* Merah untuk notifikasi error */
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .profile-page, .register-page, .login-page, .account-list-page, .dashboard-page {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #2a2a2a;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  ul li button {
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
  }
  
  ul li button:hover {
    background-color: #ff1a1a;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .logout-button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }
  